<style>
    .coal {
      padding: 10px;
      display: flex;
      align-items: center;
      margin-top: 100px;
      margin-bottom: 100px;
      flex-direction: row;
      background-image: url(city_lights.jpeg);
    }
    .selfie {
      padding: 10px;
      width: auto;
      height: 400px;
     
    }
    .photo {
      padding: 10px;
      flex: 1;
    }
    .my_name {
      padding: 10px;
      flex: 1;
      margin: 200px;
      padding-right: 30px;
      color: aliceblue;
    }
    .coal1 {
      padding: 10px;
      display: flex;
      margin: 10px;
      margin-top: 10px;
      margin-bottom: 100px;
      align-items: center;
    }
    .city_photo_div {
      padding: 10px;
    }
    .para_city_div {
      padding: 50px;
    }
    .city_photo {
      width: auto;
      height: 400px;
    }
    .places {
      display: flex;
      padding: 20px;
    }
    .p1 {
      flex: 1;
      display: flex;
    }
    .p2 {
      flex: 1;
      display: flex;
    }
    .p3 {
      flex: 1;
      display: flex;
    }
    .p_img {
      width: auto;
      height: 200px;
    }

    p {
      margin: 10px;
      padding: 10px;
    }

    l_p {
      float: left;
    }

    

    table, td, th {
      border: solid black;
      border-collapse: collapse;
      width: 50%;
      max-width: 1000px;
      margin: auto;
      padding: 10px;
    }

    body {
      align-content: center;
      background-color: antiquewhite;
      
    }


    @media (max-width: 875px) {
      .coal {
        flex-direction: column;
      }
      .coal1 {
        flex-direction: column;
      }
      .places {
        flex-direction: column;
      }
      .p2 {
        flex-direction: row-reverse;
        
    }
      
    }
    
  </style>